# rpc nodes
BTC_NODE_URL=http://<bitcoin_node_url>:8332
BTC_NODE_USERNAME=admin
BTC_NODE_PASSWORD=

DOGE_NODE_URL=http://<dogecoin_node_url>:22555
DOGE_NODE_USERNAME=admin
DOGE_NODE_PASSWORD=

XRP_NODE_URL=http://<ripple_node_url>:51234

FLR_NODE_URL=http://<flare_node_url>:9650/ext/bc/C/rpc
SGB_NODE_URL=http://<songbird_node_url>:9650/ext/bc/C/rpc
ETH_NODE_URL=http://<ethereum_node_url>:8545

# set to a block number that was finalized 14 days before starting indexing
BTC_START_BLOCK_NUMBER=871200
DOGE_START_BLOCK_NUMBER=5469000
XRP_START_BLOCK_NUMBER=92240000

# set this to true if using verifiers on testnets
TESTNET=false

# keys that will be allowed to access verifier apis
# go-verifier-api requires every key to be at least 16 characters
VERIFIER_API_KEYS=loooooooong_key1,loooooooong_key2

# password for postgres database used by indexers and verifiers
BTC_DB_PASSWORD=dbpassword
DOGE_DB_PASSWORD=dbpassword
XRP_DB_PASSWORD=dbpassword

# web2 verifier source api keys
WEB2_IGNITE_API_KEY=your_ignite_api_key_here

# use "testAPIs" for testnet
WEB2_SOURCE_IDS=Ignite

# FDC2 SGB verifier
FDC2_SGB_XRP_SOURCE_ID=XRP
FDC2_SGB_XRP_DATABASE_MODE=local
FDC2_SGB_CHAIN_ID=19
FDC2_SGB_RELAY_CONTRACT_ADDRESS=0xCB86E8Be709001e01897Bf59847406853da8f14b
FDC2_SGB_FLARE_TEE_MANAGER_CONTRACT_ADDRESS=0x5C2dE0DeFC3FDBbF8e12c12bD0b1629Ed37DC767
FDC2_SGB_TEE_PAYMENTS_CONTRACT_ADDRESS=0x872119F49021B1d18b42Bc7deE5B4e01d446059E

# enabled by default; leave empty when using an external C-chain indexer database
FDC2_SGB_COMPOSE_PROFILES=c-chain-indexer
FDC2_SGB_CCHAIN_DB_ROOT_PASSWORD=dbpassword

# required only in external mode
# FDC2_SGB_XRP_EXTERNAL_DATABASE_URL=postgres://db:<password>@<xrp-indexer-host>:5432/db?sslmode=require
FDC2_SGB_XRP_EXTERNAL_DATABASE_URL=

# embedded C-chain indexer DSN; replace when using an external indexer database
FDC2_SGB_CCHAIN_DATABASE_URL=root:${FDC2_SGB_CCHAIN_DB_ROOT_PASSWORD}@tcp(c-chain-indexer-db:3306)/fdc2_sgb_cchain?parseTime=true
