SOURCE_ID=${FDC2_SGB_XRP_SOURCE_ID}
CCHAIN_DATABASE_URL=${FDC2_SGB_CCHAIN_DATABASE_URL}
SOURCE_DATABASE_URL=${FDC2_SGB_SOURCE_DATABASE_URL}
FLARE_TEE_MANAGER_CONTRACT_ADDRESS=${FDC2_SGB_FLARE_TEE_MANAGER_CONTRACT_ADDRESS}
TEE_PAYMENTS_CONTRACT_ADDRESS=${FDC2_SGB_TEE_PAYMENTS_CONTRACT_ADDRESS}
RPC_URL=${SGB_NODE_URL}
