RELAY_CONTRACT_ADDRESS=${FDC2_SGB_RELAY_CONTRACT_ADDRESS}
# RELAY_CUTOVER_CONTRACT_ADDRESS=0xc1BC89b717Af42AE27497C9FFb996002D3AC5031
RELAY_CUTOVER_CONTRACT_ADDRESS=
RELAY_CUTOVER_STARTING_REWARD_EPOCH=
FLARE_RPC_URL=${SGB_NODE_URL}
CHAIN_ID=${FDC2_SGB_CHAIN_ID}
