SOURCE_ID=${FDC2_SGB_XRP_SOURCE_ID}
SOURCE_RPC_URL=${XRP_NODE_URL}
FLARE_RPC_URL=${SGB_NODE_URL}
CCHAIN_DATABASE_URL=${FDC2_SGB_CCHAIN_DATABASE_URL}
SOURCE_DATABASE_URL=${FDC2_SGB_SOURCE_DATABASE_URL}
FLARE_TEE_MANAGER_CONTRACT_ADDRESS=${FDC2_SGB_FLARE_TEE_MANAGER_CONTRACT_ADDRESS}
TEE_PAYMENTS_CONTRACT_ADDRESS=${FDC2_SGB_TEE_PAYMENTS_CONTRACT_ADDRESS}
