SOURCE_ID=XRP
SOURCE_RPC_URL=${XRP_NODE_URL}
FLARE_RPC_URL=${SGB_NODE_URL}
CCHAIN_DATABASE_URL=${FDC2_SGB_CCHAIN_DATABASE_URL}
SOURCE_DATABASE_URL=${FDC2_SGB_SOURCE_DATABASE_URL}
FLARE_TEE_MANAGER_CONTRACT_ADDRESS=0x5C2dE0DeFC3FDBbF8e12c12bD0b1629Ed37DC767
TEE_PAYMENTS_CONTRACT_ADDRESS=0x872119F49021B1d18b42Bc7deE5B4e01d446059E
